.versionsPanel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--font-mono);
}

.versionCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    width: 96px;
    padding: 8px;
    background-color: var(--version-card-background-color);
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

    --version-card-background-color: #232322;
    --version-card-text-color: #fff;
}

.versionCard.active {
    --version-card-background-color: var(--green-light);
    --version-card-text-color: #171717;
    outline: 1px solid var(--green-medium);
}

.badge {
    min-width: 24px;
    padding: 2px 4px;
    background-color: var(--green-dark);
    color: #ffffff;
    border-radius: 2px;
    font-size: 11px;
    text-align: center;
}

.date {
    color: var(--version-card-text-color);
    font-size: 11px;
}
