.componentList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.componentList .createInput {
    padding: 12px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--border-default);
    border-radius: var(--border-radius-default);
    font-family: var(--font-mono);
    font-size: 12px;
}

.componentList .createInput:focus {
    outline: 1px solid var(--green-medium);
}

.componentCard {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 12px;
    border-radius: var(--border-radius-default);
    background-color: var(--card-dark);
    color: var(--label-light);
    font-size: 12px;
    font-family: var(--font-mono);
    cursor: pointer;
}

.componentCard.active {
    background-color: var(--green-light);
    outline: 1px solid var(--green-medium);
    color: var(--label-dark);
}
