.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    font-family: var(--font-inter);
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px;
    gap: 12px;
}

.page code {
    font-family: var(--font-mono);
}
