.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radius-default);
    font-family: var(--font-mono);
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.primary {
    background-color: var(--green-medium);
    color: var(--label-light);
}

.primary:hover {
    background-color: #556849;
}

.primary:active {
    background-color: #495c3e;
}

.primary.disabled {
    background-color: #949494;
    color: #e2e2e2;
    cursor: default;
}

.secondary {
    background-color: var(--green-dark);
    color: var(--label-light);
}

.secondary:hover {
    background-color: #3f4c3b;
}

.secondary:active {
    background-color: #364032;
}

.secondary.disabled {
    background-color: #a8b0a2;
    color: #e2e2e2;
    cursor: default;
}

.accent {
    background-color: var(--green-light);
    color: var(--label-dark);
}

.accent:hover {
    background-color: #d9e0cf;
}

.accent:active {
    background-color: #c4d1b7;
}

.accent.disabled {
    background-color: #e8ece3;
    color: #a3a3a3;
    cursor: default;
}

.content {
    display: flex;
    gap: 4px;
    align-items: center;
}
