.codePreview .content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    --sp-layout-height: 480px;
}

.codePreview .layout {
    border: 1px solid var(--border-default);
}

.codePreview .footer {
    align-self: flex-end;
    display: flex;
    gap: 8px;
}
