.codePreview .sandpack {
    display: flex;
    flex-direction: column;
    gap: 12px;

    --sp-layout-height: 400px;
}

.codePreview .sandpackLayout {
    border: 1px solid var(--border-default);
}

.codePreview .saveButton {
    align-self: flex-end;
}
