.codeSaveButton {
    display: inline-block;
    border: none;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--green-medium);
    color: var(--label-light);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: var(--font-mono);
}

.codeSaveButton:active {
    background-color: var(--green-dark);
}
