.projectDetail {
    display: flex;
    flex-direction: column;
}

.projectDetail .preview {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.projectDetail .preview .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 36px;
    min-width: 0;
}

.projectDetail .preview .side {
    width: 96px;
}
