.codeGenerate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
}

.codeGenerate textarea {
    width: 100%;
    height: 240px;
    padding: 12px;
    font-family: var(--font-mono);
    font-size: 12px;
    border: 1px solid var(--border-default);
    border-radius: var(--border-radius-default);
    resize: none;
}

.codeGenerate.generating textarea {
    color: var(--label-gray);
}

.codeGenerate textarea:focus {
    outline: none;
    outline: 1px solid var(--green-dark);
}

.codeGenerate .actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
